

.inputMain{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inputDiv{
    height: 100%;
    width: 30%;
    border: 2px solid rgb(143, 124, 124);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
}

.inputDiv input{
    height: 100%;
    width: 85%;

    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 1rem;
    color: rgb(143, 124, 124);
    border-radius: 20px;
}

.inputDiv button{
    height: 100%;
    width: 15%;
    background-color: transparent;
    border: none;
    color: rgb(143, 124, 124);
    cursor: pointer;
    border-left: 2px solid rgb(143, 124, 124);
}